.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label.main {
    font-weight: bold;
  }

  label.description {
    font-size: 12px;
  }

  label.exemple {
    font-size: 12px;
  }
}

.form {
  padding-inline: 2rem;
  padding-block-end: 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
