body {
  min-width: 420px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.tools {
  svg path {
    fill: white;
  }
}

.shortcut-button {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  &.edition {
    pointer-events: none;
  }

  .grab-icon {
    position: absolute;
    left: 1rem;
  }
}

.drag-wrapper {
  position: relative;

  .delete-shortcut-wrapper {
    position: absolute;
    right: 0;
    z-index: 5;

    svg {
      fill: red;
    }
  }
}

.field.hidden {
  display: none;
}

.drag-wrapper .edit-button {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

input {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;


  label.main {
    font-weight: bold;
  }

  label.description {
    font-size: 12px;
  }

  label.exemple {
    font-size: 12px;
  }
}

.form {
  padding-inline: 1rem;
  padding-block-end: 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
